$colorContrastSecondary: #FFE3DD;
$colorContrast: #FF7355;
$colorGreen: #52A754;
$colorPurple: #6B2ABC;
$colorRed: #FF2045;
$lightBackground: #F9F9F9;
$lightContent: #FFFFFF;
$lightTextColorTextPrimary: #2C2D2E;
$lightTextColorTextSecondary: #87898F;
$onSurfacePrimary: #000000;